{% extends "base.html.twig" %}

{% block title %}Популярные блюда{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Популярные блюда заведений</h1>

        {% for item in data %}

            <h3 class="mt-4"><a href="{{ path('basic_menu', {id : item.place.id}) }}" class="title-link">{{ item.place.title }}</a></h3>
            <div class="row">
                <div class="col-md-5">
                    <a href="{{ path('basic_menu', {id : item.place.id}) }}">
                        <img src="{{ vich_uploader_asset(item.place, 'imageFile') }}" class="img-fluid rounded place-link">
                    </a>
                </div>
                <div class="col-md-7">
                    <p class="text-justify">{{ item.place.description }}</p>

                    {% for dish in item.dishes %}

                        <div class="row mb-2">
                            <div class="col-md-3">
                                <img src="{{ vich_uploader_asset(dish.data, 'imageFile') }}" class="img-fluid rounded">
                            </div>
                            <div class="col-md-9">
                                <p>"{{ dish.data.title }}" ({{ dish.amount }} покупок за последний год)</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
