{% extends "base.html.twig" %}

{% block title %}{{ place.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Меню {{ place.title }}</h1>

        {% for row in dishes|batch(3) %}
            <div class="row mt-4">
                {% for dish in row %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ vich_uploader_asset(dish, 'imageFile') }}"
                                 alt="{{ dish.title }}">
                            <div class="card-body">
                                <p class="card-text">{{ dish.title }}</p>
                                <p class="card-text"><strong>Цена: </strong>{{ dish.price|number_format(0) }} сомов.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <p class="text-center m-4">
            <a href="{{ path('basic_index') }}" class="btn btn-primary">На главную</a>
        </p>

    </div>
{% endblock %}
