.place-link:hover {
    -webkit-filter: grayscale(70%);
    filter: brightness(70%);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.place-link {
    -webkit-transition: all 1s;
    transition: all 1s;
}

.title-link:hover{
    text-decoration: none;
}